{% extends 'discussion/base.html' %}
{% load crispy_forms_tags%} 
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="question-title">{{ question.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="question-subtitle">{{ question.author }} | {{ question.created_on }}</p>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col mb-4  top">        
            <h6 class="question-content">{{ question.content}}</h6>
        </div>
    </div>
</div>
<!-- Displaying count of answers -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ answer_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>
<!-- Displaying Answers -->
<div class="row">
    <div class="col-md-6  mt-3 ">
        <h3 class="question-title">Answers:</h3>
        <div>
            {% for answer in answers %}
                <div class="p-2 answers">
                    <p class="answer-author">
                    {{ answer.author }} on
                    <span class="font-weight-normal">
                    {{ answer.created_on }}
                    </span> wrote:
                    </p>
                    <div id="answer{{ answer.id }}">
                    {{ answer.body | linebreaks }}
                    </div>
                    {% if user.is_authenticated and answer.author == user %}
                    <button class="btn btn-delete" answer_id="{{answer.id }}">Delete</button>
                    <button class="btn btn-edit"  answer_id="{{ answer.id }}">Edit</button>
                    {% endif %}
                </div>
                <hr>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>

<!-- Creating New Answers -->
<div class="col-md-6 mb-4  mt-3">
    <div class="card-body">
    {% if user.is_authenticated %}
        <h3>Do you have the answer:</h3>
        <p>Answering as: {{ user.username }}</p>
        <form id="AnswerForm" method="post"
            style="margin-top: 1.3em;">
            {{ answer_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
            class="btn btn-submit btn-lg">Submit</button>
        </form>
    {% else %}
        <h5>Please <a href="{% url 'account_signup' %}">
            <span class="question-title">log in</span></a> to write an Answer.</h5>
    {% endif %}
    </div>
</div>
</div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
          id="deleteModalLabel">Delete Answer?</h5>
        <button type="button" class="btn-close"
          data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the Answer?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
          data-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block extras %}
<script src="{% static 'js/answers.js' %}"></script>
{% endblock %}