/*------------------------------------------------------ FONT*/
@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet|Quicksand|Barlow");


/*------------------------------------------------------ GENERAL*/
html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.5));
    overflow-x: hidden;
    background-repeat: no-repeat;
}
.example::-webkit-scrollbar {
    display: none;
}

/*------------------------------------------------------ MAIN*/
main {
    font-family: Barlow, Quicksand, Rubik, sans-serif, serif, 'Times New Roman', Times, serif !important;
}



/*------------------------------------------------------ NAVIGATION BAR*/
.navbar {
    background-color: #0d494e !important;
    
}
.nav-link:hover {
    background: black !important;
    color: white !important;
    transition: 0.7s ease;
}
.navbar-dark .navbar-brand{
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-dark .navbar-nav .nav-link{
    text-transform: uppercase;
    font-weight: 700;
}


/*------------------------------------------------------ CARD*/
.card {
    box-shadow: 15px 15px 10px rgb(78, 77, 77);

}
.card-header:hover {
    background:  #0d494e !important;
    color: whitesmoke !important;
    transition: 0.1s ease-in;
}
.card h4 {
    margin: 40px 40px 0 40px;
    text-align: left;
}

.card h6 {
    margin: 25px 40px 0 40px;
    text-align: left;
}

.card p {
    text-align: right;
    margin-right: 50px;
    line-height: 10px;
}
.card img {
    height: 210px;
}

.card-img-top:hover {
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.2s ease;

}
.col-md-3 .card {
    width: 100%;
    height: 100%;

}
.card-title h5{
    font-weight: 500;
}
/*------------------------------------------------------ CARDs in NOTES PAGE*/
.card-header {
    color: white !important;
    background:#e93237 !important;
    transition: 0.3s ease-in;
    text-transform: uppercase;
}
.card-body{
    font-weight: 600;
}
/*------------------------------------------------------ SUCCESS BAR*/
.alert{
    width :80%;
    text-align: center;
    background-color: #dddddd;
    color: #0d494e;
    font-weight: 500;
}


/*------------------------------------------------------ ANCHOR TAGS*/
a {
    text-decoration: none !important;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.custom-header:hover {
    background: rgb(143, 189, 186) !important;
}

.icon-bar {
    color: black;
}

/*------------------------------------------------------ BUTTONS*/
.button {
    display: inline-block;
    font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;

    padding: .8em 1.4em;
    padding-right: 4.7em;
    border: none;
    color: white;
}
.btn:hover {
    background: black;
    color: white;
    border: 0.5px solid white;
}
.btn-outline-info{
    background-color: #e93237 !important;
}
button.btn.btn-outline-info{
    color:white !important;
    font-weight: 600;
}

/*------------------------------------------------------ LEGEND*/
legend{
    font-weight: 600 ;
}
/*------------------------------------------------------ FOOTER*/
footer {
    font-family: Rubik, sans-serif, serif, 'Times New Roman', Times, serif;
    background-color: #0d494e;
    height:4rem;
    width: 100%;
    color: white;
}

footer .container-fluid {
    padding: 10vmin 10vmin;
    
}

footer .column a+a {
    padding: 0 0.7em;
}


.myimage {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

/*------------------------------------------------------ FONTAWSOME ICONS*/
.fa:hover {
    color: red;

}
.fa {
    color: black;
}
.profa {
    color: black;
}

/*------------------------------------------------------ CONTENT SECTION*/
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

/*------------------------------------------------------ IMAGES*/
.account-img {
    height: 125px !important;
    width: 125px !important;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.container h3{

    font-weight: 500;
}