{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class= 'container'>

    <div class="container ">

        <div class="content-section p-0 mt-5">

            <div class="m-3">
                <h3 class="hw-heading">{{ homework.subject }}</h3>
                <hr>
                <h4 class="hw-title">{{ homework.title }}</h4>
            </div>

            <hr class="p-0 m-0">
            <div class="hw-description m-3">
                {{ homework.description }}
            </div>
            <hr>
            <h5 class=" m-3 hw-due-data">{{ homework.due_date}}</h5>

        </div>

    </div>

</section>

{% endblock content %}