{% extends 'dashboard/base.html' %} 
{% load static %} 
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% block content %}

<section class="container text-center username">
  {% if user.is_authenticated %}
  <h3>Welcome, {{user}}</h3>
  {% else %}
  <h3>Welcome</h3>
  {% endif %}
  <hr> <br>
  <div class="row">
    <div class="col-md-3">
        {% if user.is_authenticated %}
        <a href="{% url 'notes' %}">
        {% else %}
        <a href="{% url 'account_signup' %}">
        {% endif %}  
        <div class="card">
          <img class="card-img-top" src="{% static 'images/notes.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Notes
            </h5>
            Create Notes to refer them later. They are stored permanently until deleted.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      {% if user.is_authenticated %}
      <a href="{% url 'homeworks' %}">
      {% else %}
      <a href="{% url 'account_signup' %}">
      {% endif %} 
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpg' %}" alt="Homework image">
          <div class="card-body">
            <h5 class="card-title ">
              Homeworks
            </h5>
            Add homeworks and assign them deadlines. They will be displayed prioritised by deadlines.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      {% if user.is_authenticated %}
      <a href="{% url 'books' %}">
      {% else %}
      <a href="{% url 'account_signup' %}">
      {% endif %} 
        <div class="card">
          <img class="card-img-top" src="{% static 'images/books1.jpg' %}" alt="Books image">
          <div class="card-body">
            <h5 class="card-title ">
             Books
            </h5>
            Browse books from a list of neatly organised book menu.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <!--{% if user.is_authenticated %}
      <a href="{% url 'discussion' %}">
      {% else %}
      <a href="{% url 'account_signup' %}">
      {% endif %}--> 
      <a href="{% url 'discussion' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/focus-group-discussions.jpg' %}" alt="discussion image">
          <div class="card-body">
            <h5 class="card-title ">
              Discussions
            </h5>
            Having doubts and want to discuss with other People? Register in Discussion Forum and Ask your Questions
          </div>
        </div>
      </a>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="col-md-3 ">
      {% if user.is_authenticated %}
      <a href="{% url 'youtube_search' %}">
      {% else %}
      <a href="{% url 'account_signup' %}">
      {% endif %} 
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/youtube.jpg' %}" alt="Youtube image">
          <div class="card-body">
            <h5 class="card-title ">
              Youtube
            </h5>
            Search Youtube and select your desired video to play it on youtube.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      {% if user.is_authenticated %}
      <a href="{% url 'todo' %}">
      {% else %}
      <a href="{% url 'account_signup' %}">
      {% endif %} 
        <div class="card">
          <img class="card-img-top" src="{% static 'images/todo.jpg' %}" alt="Todo image">
          <div class="card-body">
            <h5 class="card-title ">
              To-Do
            </h5>
            Create yout to-do list and Remove them as you finish it.
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      {% if user.is_authenticated %}
      <a href="{% url 'wiki' %}">
      {% else %}
      <a href="{% url 'account_signup' %}">
      {% endif %} 
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wiki1.jpg' %}" alt="Wikipedia logo image">
          <div class="card-body">
            <h5 class="card-title ">
              WikiPedia
            </h5>
            Homework and Assignments? Search wikipedia to get fast results
          </div>
        </div>
      </a>
    </div>


    <div class="col-md-3">
      {% if user.is_authenticated %}
      <a href="{% url 'calculator' %}">
      {% else %}
      <a href="{% url 'account_signup' %}">
      {% endif %} 
        <div class="card">
          <img class="card-img-top" src="{% static 'images/calculator.webp' %}" alt="Calculator image">
          <div class="card-body">
            <h5 class="card-title ">
              Calculator
            </h5>
            Check out the inbuilt Calculator, that helps you to do basic calculations.
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock content %}