{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class='text-center container'>

    <div class="container">

        <div class="content-section p-0 mt-5">

            <div class="m-3">
                <h2 class="notes-detail">{{ note.title }}</h2>
            </div>

            <hr class="p-0 m-0">
            <p class="description notes-description m-3 ">
                {{ note.description }}
            </p>
            
        </div>
    </div>

</section>

{% endblock content %}
{% block extras %}
<script src="{% static 'js/notes.js' %}"></script>
{% endblock %}